*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navbar{
    height: 66px;
    width: 1920px;
    display: flex;
    justify-content: center;
}
.nav-main{
    height: 66px;
    width: 1600px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
}
.nav-main-bar{
    height: 40px;
    width: 991px;
    display: flex;
}
.nav-left{
    height: 40px;
    width: 130px;
    margin-right: 36px;
    
}
.nav-flipkart-logo{
    height: 22px;
    width: 130px;
    display: flex;
    justify-content: center;
}
.nav-left-downbar{
    height: 15px;
    width: 130px;
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
}
.nav-left-downbar-text1{
    height: 15px;
    width: 43.84px;
    margin-right: 4px;
    font-size: 0.75rem;
    color: #9e9e9e;
}

.nav-left-downbar-text2{
    height: 15px;
    width: 24.75px;
    font-size: 0.75rem;
    color: #ffc200;
}
.nav-left-downbar-text3{
    height: 10px;
    width: 10px;
    margin-top: 2px;
    margin-left: 6px;
    display: flex;
}
.nav-middle{
    height: 40px;
    width: 825px;
    display: flex;
}
.nav-left-search-bar{
    height: 40px;
    width: 44px;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left-search-bar i {
    font-size: 1.2rem;
}
.nav-middle input{
    height: 40px;
    width: 681px;
    font-size: 17px;
    background-color: aliceblue;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-right{
    height: 42px;
    width: 553px;
    display: flex;
    align-items: center;
}
.nav-right-box1{
    height: 24px;
    width: 194px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}
.nav-right-box1-logo{
    height: 24px;
    width: 32px;
}
.nav-right-box1-logo img{
    margin-right: 8px;
}
.nav-right-box1-text{
    height: 24px;
    width: 122px;
    margin-top: 2px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.nav-right-box2{
    height: 42px;
    width: 173px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-right-box2-bar{
    height: 42px;
    width: 133px;
    padding: 8px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right-box2-sub-bar1{
    height: 24px;
    width: 95px;
    display: flex;
}
.nav-right-box2-sub-bar1 img{
    margin-right: 8px;
}
.nav-right-box2-sub-bar1-text{
    display: flex;
    align-items: center;
    margin-top: 2px;
    font-size: 1rem;
}
.nav-right-box2-sub-bar2{
    height: 12px;
    width: 12px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right-box3{
    height: 27px;
    width: 104px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}
.nav-right-box3-logo-bar{
    height: 27px;
    width: 32px;
}
.nav-right-box3-logo-bar img{
    margin-right: 8px;
}
.nav-right-box3-text{
    height: 24px; 
    width: 32px;
    font: 16px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right-box4{
    height: 42px;
    width: 82px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-right-box4-inner{
    height: 42px;
    width: 42px;
    padding: 8px;
}
.nav-right-box4-inner img{
    margin-top: 1px;
}
.flipkart-main{
    height: 557px;
    width: 1920px;
    background-color: #eaeaea;
}
.flipkart-main-items-banner{
    height: 1541px;
    width: 1888px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
}
.flipkart-items-banner-without-white-background{
    height: 1533px;
    width: 1600px;
    margin-top: 8px;
}
.flipkart-banner1{
     height: 126px;
     width: 1600px;
     display: flex;
     justify-content: center;
     background-color: #ffffff;
}
.flipkart-banner1-box1{
    height: 126px;
    width: 130px;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}
.flipkart-banner1-box2{
    height: 126px;
    width: 122px;
   padding: 16px;
}
.flipkart-banner1-box3{
    height: 126px;
    width: 122px;
   padding: 16px;
}
.flipkart-banner1-box4{
    height: 126px;
    width: 123.89px;
   padding: 16px;
}
.flipkart-banner1-box5{
    height: 126px;
    width: 166.17px;
   padding: 16px;
}
.flipkart-banner1-box6{
    height: 126px;
    width: 122px;
   padding: 16px;
}
.flipkart-banner1-box7{
    height: 126px;
    width: 122px;
   padding: 16px;
}
.flipkart-banner1-box8{
    height: 126px;
    width: 187.83px;
   padding: 16px;
}
.flipkart-banner1-box9{
    height: 126px;
    width: 153.41px;
   padding: 16px;
   padding-right: 24px;
}
.flipkart-banner1-box1-bar{
    height: 94px;
    width: 90px;
}
.flipkart-banner1-box2-bar{
    height: 94px;
    width: 90px;
}
.flipkart-banner1-box3-bar{
    height: 94px;
    width: 90px;
}
.flipkart-banner1-box4-bar{
    height: 94px;
    width: 91.88px;
}
.flipkart-banner1-box5-bar{
    height: 94px;
    width: 134.16px;
}
.flipkart-banner1-box6-bar{
    height: 94px;
    width: 90px;
}
.flipkart-banner1-box7-bar{
    height: 94px;
    width: 90px;
}
.flipkart-banner1-box8-bar{
    height: 94px;
    width: 155.83px;
}
.flipkart-banner1-box9-bar{
    height: 94px;
    width: 113.41px;
}
.flipkart-banner1-box1-image-box{
    height: 64px;
    width: 90px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box2-image-box{
    height: 64px;
    width: 90px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box3-image-box{
    height: 64px;
    width: 90px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box4-image-box{
    height: 64px;
    width: 91.88px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box5-image-box{
    height: 64px;
    width: 134.16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box6-image-box{
    height: 64px;
    width: 90px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box7-image-box{
    height: 64px;
    width: 90px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box8-image-box{
    height: 64px;
    width: 155.83px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box9-image-box{
    height: 64px;
    width: 113.41px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box1-text-box{
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box2-text-box{
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box3-text-box{
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box4-text-box{
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box5-text-box{
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box6-text-box{
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box7-text-box{
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box8-text-box{
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-box9-text-box{
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.flipkart-banner1-shadow{
    height: 1px;
    width: 1600px;
    background-color: #9e9e9e9e;
}
.flipkart-main-banner{
    height: 265.39px;
    width: 1600px;
    margin-top: 16px;
} 








